@yellow: #f0ed78;
@rojo: #bf1717;
@verde: #437d33;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.espacios(@top:0px, @right:0px, @bottom:0px, @left:0px){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}


.jumbotron {
  background-color: @yellow;
  .margenes(50px, 0px);
}

.img-fluid {
  display: block;
  margin: auto;
  width: 612px; }

.breadcrumb {
  .margenes(-25px, 0px);
   background-color: @rojo;
}

footer {
  background-color: @verde;
  .margenes(10px, 0px);
  .espacios(10px, 10px, 0, 10px);
}

.card-hotel {
  flex: 1 350px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: justify;
  overflow: hidden;
  transition: all 0.25s; 
  .margenes(15px, 0px);
  .espacios(2px, 5px, 2px, 5px);
}

.card-hotel:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.i-cards {
  width: 280px;
  height: 150px;
  display: block;
  margin: auto; }

.card-text {
  .margenes(20px, 0px);
}

.btn-reserva {
  display: block;
  margin: auto;
  width: 50%; 
  .margenes(0px, 10px);
}

.icon { 
  .espacios(0, 10px, 0, 0);
}

.table {
  text-align: center; 
}

.tab-content { 
  .espacios(10px, 0, 0, 0);
}

.btn-coll {
  display: block;
  margin: auto;
  .margenes(10px, 0px);
}