.jumbotron {
  background-color: #dee376;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #dee376;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 50px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserve {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
