$yellow:#f0ed78;
$red:#a83232;
$green:#248a31;
$white:#ffffff;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin espacios($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}


.jumbotron {
	background-color: $yellow;
	@include margenes(50px, 0px);

}

.img-fluid {
	display: block;
	margin: auto;
	width: 612px;
}

.breadcrumb{
    @include margenes(-50px, 0px);
}

footer {
	background-color: $red;
	@include margenes(10px, 0px);
	@include espacios(10px, 10px, 0, 10px);
}

.card-hotel {

	flex: 1 350px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	border-radius: 6px;
	text-align: justify;
    overflow: hidden;
    transition: all 0.25s;
    @include margenes(15px, 0px);
    @include espacios(2px, 5px, 2px, 5px);

}
.card-hotel:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.i-cards{
	width: 280px;
	height: 150px;
	display: block;
	margin: auto;
}

.card-text{
    @include margenes(20px, 0px);
}

.btn-reserva {
	display: block;
	margin: auto;
	@include margenes(0, 10px);
	width: 50%;
}

.icon {
	@include espacios(0, 10px, 0, 0);
}

.table{
	text-align: center;
}

.tab-content {
    @include espacios(10px, 0, 0, 0);
	
}

.btn-coll {
	display: block;
	margin: auto;
	@include margenes(10px, 0px);
}

.breadcrumb {
	background-color: $green;
}
